<h1 mat-dialog-title class="dialog-title">
    <mat-icon fontIcon="info" class="icon"></mat-icon>
    Auditoría
</h1>

<div class="audit-section">
    <h2 class="section-title">Creación</h2>
    <p class="info-text"><span class="highlight">Usuario:</span> {{ data.userCreated }}</p>
    <p class="info-text"><span class="highlight">Fecha:</span> {{ data.dateCreated }}</p>

    <h2 class="section-title2">Última Modificación</h2>
    <p class="info-text">
        <span class="highlight">Usuario:</span> {{ data.userUpdated }}
    </p>
    <p class="info-text"><span class="highlight">Fecha:</span> {{ data.dateUpdated }}</p>
</div>

<div mat-dialog-actions class="dialog-actions">
    <button mat-button class="close-button" (click)="onClose()">Cerrar</button>
</div>